.button {
  &-gray {
    background-color: #F6F6F6;
  }
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 44px;
    height: 44px;
  }
}