.input {
  background-color: #F6F6F6;
  color: var(--color-gray-2);
  padding-block: 12px;
  padding-inline: 20px;
  width: 267px;
  border-radius: 8px;

  &__form {
    display: flex;
    gap: 10px;
  }

  &__field {
    font-weight: 400;
    font-size: 16px;
    color: #807d7e
  }
}