:root {
  --color-white: #FFFFFF;

  --color-violet-1: #8A33FD;
  --color-violet-2: #6620C1;
  --color-violet-3: #6620C1;

  --color-gray-1: #3C4242;
  --color-gray-2: #807D7E;
  --color-gray-3: #BEBCBD;
  --color-gray-4: #EDEEF2;
  --color-gray-5: #EDEEF2;

  --font-family-causten: 'Causten', sans-serif;
  --font-family-core-sans-c: 'Core Sans C', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;

  --container-padding-x: 100px;
  --container-width: 1240px;


}